@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes Rotate {
    0% {
        transform: rotate(0deg) scale(1);

    }
    100% {
        transform: rotate(360deg) scale(2);
    }
}

.spinner {
    animation: Rotate 1s linear infinite;
}